[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
max_allowed_packet = 32M




bind-address="127.0.0.1"

wait_timeout=number
interactive_timeout=number
connect_timeout=number